<div class="login-container">
  <div class="card">
    <h1 class="heading">Bienvenido a Shelly</h1>

    <form (ngSubmit)="onLogin()" class="form">
      <input type="email" [(ngModel)]="email" name="email" class="input" placeholder="Correo Electrónico" required>
      <input type="password" [(ngModel)]="password" name="password" class="input" placeholder="Contraseña" required>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <button type="submit" class="login-button">Iniciar sesión</button>
    </form>

    <div class="footer">
      <p>¿No tienes cuenta? <a routerLink="/register" class="register-link">Registrarse</a></p>
    </div>
  </div>
</div>